/* Сброс отступов */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* Скрываем значок мобильного телефона */
#ar-prompt {
display: none;
}

/* Добавьте эти стили в ваш main.css */
.model-card {
    display: flex;
}

.info-block {
    /* Текст занимает большую часть ширины */
    flex-grow: 2; 
    padding-right: 16px; /* Небольшой отступ справа от текста до модели для удобства восприятия */
}

model-viewer {
    /* Модель занимает меньшую часть ширины */
    flex-grow: 1; 
    height: auto; /* Высота будет подстраиваться автоматически */
}